<!DOCTYPE html>
<html>
  <head>
    <title>Coursero</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= react_component 'Header' %>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
